<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript">

        function getParam(paramName) {
            paramValue = "", isFound = !1;
            if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
                arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
                while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
            }
            return paramValue == "" && (paramValue = null), paramValue
        }


        function sendUrl(password) {

            var id=getParam("id");

            $.ajax({
                type:'post',
                url:'http://menghong.fun:8081/shorturl/'+id,
                data:{"password":password},
                cache:false,
                dataType:'json',
                success:function (result) {
                    if (result.status==200) {

                        window.location.href=result.data;
                    }else {
                        alert(result.msg)
                    }
                }

            })

        }
    </script>
</head>
<body>
<b>必须输入该短网址最初缩短时的密码</b>
password:<input type="password" id="password">
<button id="send" onclick="sendUrl(password.value)">提交</button>

<div id="showMessage">

</div>
</body>
</html>